<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
   <script src="https://kit.fontawesome.com/b06a377e67.js" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div id="home_wrap">
   <div id="home_cont">
      <div id="side_nav">
         <div class="nav_load"></div>
      </div>
      <div id="home_content_box">
         <main class="home_main">
            <div id="home_main_for_align">
               <div id="home_feed_container">
                  <div id="home_feed_box1">
                     <div id="home_feed_box2">
                        <div>
                           <article th:each="post : ${posts}" th:id="'Post' + ${post.id}">
                              <div class="home_feed_contents">
                                 <div class="home_feed_head">
                                    <div class="feed_head_box">
                                       <div class="feed_head_img_box1">
                                          <div>
                                             <div class="feed_head_img_box2">
                                                <a href="#" class="feed_head_img">
                                                   <img alt="누군가의 프로필 사진" class="feed_head_profile_img" th:src="${post.getUrl}">
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="feed_head_text_box1">
                                          <div class="feed_head_text_box2">
                                             <div>
                                                <div class="feed_head_nameInfo">
                                                   <a href="#" class="feed_head_nameLink">
                                                      <sapn class="feed_head_name" th:text="${post.name}"></sapn>
                                                   </a>
                                                </div>
                                             </div>
                                             <div class="feed_head_timeInfo">
                                                   <span class="dot_for_separate">
                                                      <span class="common_dot">•</span>
                                                   </span>
                                                <div class="feed_head_time_box">
                                                   <a class="feed_head_timeLink">
                                                      <span class="feed_head_time" th:text="${post.date}"></span>
                                                   </a>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="feed_head_more_box1">
                                          <div class="feed_head_more_box2">
                                             <div class="feed_head_morePopup">
                                                <i class="fa-solid fa-ellipsis"></i>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="home_feed_body">
                                    <div class="feed_body_cont">
                                       <div class="feed_body_list">
                                          <div class="feed_body_imgBox"  th:each="image : ${post.images}">
                                             <a class="feed_body_imgLink">
                                                <img alt="#" class="feed_body_img" th:src="${image.url}">
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="home_feed_footer">
                                    <div class="feed_footer_cont">
                                       <div class="feed_footer_actionBox">
                                          <div class="feed_footer_interactive">
                                             <div class="feed_footer_likeBox def_size">
                                                <span class="like-icon">
                                                   <i th:if="${post.likeYN == 1}" class="fa-solid fa-heart" th:data-post-id="${post.id}"></i>
                                                   <i th:unless="${post.likeYN == 1}" class="fa-regular fa-heart" th:data-post-id="${post.id}"></i>
                                                </span>
                                             </div>
                                             <div class="feed_footer_commentBox def_size">
                                                <span><i class="fa-regular fa-comment fa-lg" th:data-post-id = "${post.id}"></i></span>
                                             </div>
                                             <div class="feed_footer_messageBox def_size">
                                                <span><i class="fa-regular fa-paper-plane fa-lg" th:data-post-id = "${post.id}"></i></span>
                                             </div>
                                          </div>
                                          <div class="feed_footer_bookmarkBox">
                                             <div class="feed_footer_bookmark def_size">
                                                <span><i th:class="${post.bookmarkYN > 0} ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark'" th:data-post-id = "${post.id}"></i></span>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="feed_footer_likeNumCont">
                                          <div class="feed_footer_likeNumBox">
                                                <span class="feed_footer_likeNumText">
                                                   좋아요
                                                   <span class="feed_footer_likeNum" th:id="'likeCount_' + ${post.id}" th:text="${#lists.size(post.likes)}"></span>만개
                                                </span>
                                          </div>
                                       </div>
                                       <div class="feed_footer_ownerCommentBox">
                                          <div class="feed_footer_ownerNameBox">
                                                <span class="feed_footer_ownerName"  th:text="${post.userName}">
                                                </span>
                                          </div>
                                          <div class="feed_footer_ownerTextBox">
                                                <span class="feed_footer_ownerText"  th:text="${post.content}">
                                                </span>
                                          </div>
                                       </div>
                                       <div class="feed_footer_commentNumCont">
                                          <div class="feed_footer_commentNumBox">
                                                <span class="feed_footer_commentText">
                                                   댓글
                                                   <span class="feed_footer_commentNum" th:text="${post.commentSize}"></span>개 모두 보기
                                                </span>
                                          </div>
                                       </div>
                                       <div class="feed_footer_inputCont">
                                          <form th:id="${post.id}">
                                             <div class="feed_footer_inputBox">
                                                <div class="feed_footer_postCommentBox">
                                                   <input type="text" class="feed_footer_postComment" placeholder="댓글 달기.." >
                                                   <input type="hidden" id = "postId" th:value="${post.id}">
                                                </div>
                                                <div class="feed_footer_emoteButton">
                                                   <span>
                                                      <i class="fa-regular fa-face-smile">
                                                      </i>
                                                      <div class="emoticonbox">
                                                            <div class="emoticon" th:text="${emoticons}" th:each="emoticons : ${emoticon}"></div>
                                                      </div>
                                                   </span>
                                                </div>
                                             </div>
                                          </form>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </article>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="recommend_user_container">
                  <div id="recommend_user_box">
                     <div id="recommend_myInfo_container">
                        <div id="recommend_myInfo_box1">
                           <div id="recommend_myInfo_box2">
                              <div class="recommend_profile_box">
                                 <div class="recommend_profile_align">
                                    <div>
                                       <a href="#" class="recommend_profile_link">
                                          <img class="recommend_profile_img" th:src="${loginUser.url}" alt="#">
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="recommend_userinfo_box">
                                 <div class="recommend_userName">
                                    <a href="#" class="recommend_userName_link" th:text="${loginUser.userName}">
                                    </a>
                                 </div>
                                 <div class="recommend_name">
                                    <span class="recommend_name_text" th:text="${loginUser.name}"></span>
                                 </div>
                              </div>
                              <div class="recommend_userState_box">
                                 <div class="recommend_userState_align">
                                    <div id="recommend_myState">

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div id="recommend_for_user_container">

                        <div id="recommend_for_user">
                           <div id="recommend_text_box">
                              <div id="recommend_text_align">
                                       <span id="recommend_text">
                                          당신을 위한 추천
                                       </span>
                              </div>
                              <a href="#" id="recommend_more_box">
                                       <span id="recommend_more">
                                          모두 보기
                                       </span>
                              </a>
                           </div>
                           <div id="recommend_userList_container">
                              <div id="recommend_userList_box">
                                 <div id="recommend_userList_align">
                                    <div class="recommend_user">

                                       <!-- 추천 div 블록 시작 .. 해당 블록을 반복 시키면 됨-->
                                       <div class="recommend_otherUser_container" th:each="followRecommend : ${followRecommends}">
                                          <div class="recommend_othserUser_box1">
                                             <div class="recommend_othserUser_box2">
                                                <div class="recommend_profile_box">
                                                   <div class="recommend_profile_align">
                                                      <div>
                                                         <a href="#" class="recommend_profile_link">
                                                            <img class="recommend_profile_img" th:src="${followRecommend.url}" alt="#">
                                                         </a>
                                                      </div>
                                                   </div>
                                                </div>
                                                <div class="recommend_userinfo_box">
                                                   <div class="recommend_userName">
                                                      <span href="#" class="recommend_userName_link" th:text="${followRecommend.userName}">
                                                      </span>
                                                   </div>
                                                   <div class="recommend_name">
                                                      <span class="recommend_name_text" th:text="${followRecommend.name}"></span>
                                                   </div>
                                                </div>
                                                <div class="recommend_userState_box">
                                                   <div class="recommend_userState_align">
                                                      <div class="recommend_follow" th:data-follow-id = "${followRecommend.id}">
                                                         팔로우
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <!-- 추천 div 블록 끝 -->

                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>
   </div>
</div>
<script src="/js/home.js"></script>
</body></html>