<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.snsProject.model.DAO.UserDAO">

    <!-- Query 문 작성해서 Mapping 하면 됨 -->
    <select id="getCountAllMember" resultType="int">
        <![CDATA[
            select count(*) from test1.users
        ]]>
    </select>

    <select id="getAccountInfo" resultType="boolean">
        <![CDATA[
            select userid from test1.users where userid = #{userid}
        ]]>
    </select>
</mapper>